* {
  box-sizing: border-box;
  padding: 0;
  margin: 15;
  display: inline-block;
  

}

  .navbar {
  display: flex;
  justify-content: space-around;
  height: 50;
  width: 60;
  align-items: center;
  background-color: aquamarine;
  margin-bottom: 150px;
}

div.contianer {
  list-style: none;
  display: inline-block;
}

h1 {
  padding-right: 430px;
}

img {
 padding-right: 20xpx;
}
.nav-list {
  list-style: none;
  margin-bottom: 50px;
  padding:20 px 10px;
 

